.flexdir{
  flex-direction: row !important;
  height: 10vh !important;
  justify-content: center !important;
  align-content: center !important;
  justify-self: center !important;
  margin:auto !important;
  padding:0 !important;
}

img {
  height:400px;
  width: 400px;
  object-fit:cover;
}